/*-- scss:defaults --*/

// Set colors
$bg-color: #FFFFFF !default;
$body-bg: $bg-color !default;

body {
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

// Navbar colors
$navbar-bg: $bg-color !default;

.navbar {
  border-bottom: 3px solid lightgray;
}

.navbar li.nav-item a.nav-link span {
  color: #004163 !important;
  font-family: Copperplate, fantasy;
  font-size: larger;
  font-style: oblique;
}

.navbar-brand {
  margin-top: -10px;
  margin-bottom: -10px;
}

.navbar-brand > img {
  max-height: 125px;
}

.navbar-brand:hover {
  opacity: 50%;
}

.nav-link {
  &:hover {
    text-decoration: 5px underline darkgray;
  }
}

.dropdown-header {
  margin: 13px 0px;
  font-size: 100% !important;
}

.nav-item:dropdown {
  &:hover {
    text-decoration: 5px underline darkgray;
  }
}

// Diagram colors
$mermaid-bg-color: black;
$mermaid-edge-color: black;